//@import _responsive.

//I replaced a similar font "Myriad Pro" to 'PT Sans'
//if PT-sans noy in use -kill font

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Bold.eot');
  src: local('☺'), url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf') format('truetype'), url('../fonts/Raleway-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Light.eot');
  src: local('☺'), url('../fonts/Raleway-Light.woff') format('woff'), url('../fonts/Raleway-Light.ttf') format('truetype'), url('../fonts/Raleway-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Medium.eot');
  src: local('☺'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
/*@font-face{
  font-family:'PT_Sans';
  src: url('../fonts/PT_Sans-Web-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}*/
/*---------------VARIABLES---------------*/
$main_color_light:rgb(122, 122, 122);
$main_color_dark:rgb(96, 96, 96);
$main_color_active:rgb(26, 187, 156);
//$main_transition:200ms ease-out 0.1s;

/*----------------MIXINS--------------*/
@mixin main_transition{
  -webkit-transition:  200ms ease-out 0.1s;
  -moz-transition:  200ms ease-out 0.1s;
  -o-transition:  200ms ease-out 0.1s;
  transition:  200ms ease-out 0.1s;
}

/*---------------COMMON CLASSES---------------*/
.next-line-usual{
  display:block;
  clear:both;
}
a:visited{
  text-decoration: none;
}

/*---------------HEADER---------------*/
.header-top{
  height: 3px;
  background-color: rgb(65, 65, 65);
}
.header{
  height:109px;/*add-padding-bottom*/
  background-color: whitesmoke;
}
.header-base-logo{
  margin-top: 30px;
}
.header-nav{
  line-height:109px;
}
.header-nav-link{
  color:$main_color_light;
  margin-right: 50px;
  height: 11px;
  font-family: Raleway,sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  @include main_transition;
    &:hover{
      color:$main_color_active;
      text-decoration: none;
    }
}
._margin-right{
  margin-right:0;
}
.header-nav_active{
  color: $main_color_active;
    &:hover{
      color:$main_color_light;
      text-decoration: none;
    }
}
/*---------------HEADER END---------------*/

/*---------------MAIN----------------------------*/

/*---------------SECOND-BLOCK---------------*/
.second-block-wrapper{
  margin:70px 0;
}
.second-block-text-header{
  margin-bottom:25px;
}
.second-block-text-header{
  height: 27px;
  color: $main_color_dark;
  font-family: Raleway,sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 22px;
}
.second-block-text{
  @extend .second-block-text-header;
  font-size: 25px;
  font-weight: 300;
}
/*---------------SECOND-BLOCK END---------------*/

/*---------------THIRD-BLOCK-SLIDER---------------*/
.third-block-slider{
  height:536px;
  position: relative;
}
.third-block-text-wrapper{
  position: absolute;
  bottom: 44px;
  left: 39px;
  
}
.third-block-text-header,
.third-block-text{
  height: 48px;
  background-color: rgba(255, 255, 255, 0.95);
  color: $main_color_dark;
  line-height: 48px;
  padding:0 20px;
  display: inline-block;
}
.third-block-text-header{
  font-family: Raleway,sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-bottom:3px;
}
.third-block-text{
  font-family: Raleway,sans-serif;
  font-size: 16px;
  font-weight: 500;
    .third-block-text-link{
      color: $main_color_active;
    }
}
/*---------------THIRD-BLOCK-SLIDER END-------------*/

/*---------------FOURTH-BLOCK-------------*/
.fourth-block{
  padding-bottom: 52px;
}
.header-block{/*extend me*/
  text-align: center;
  color:$main_color_dark;
  font-family: Raleway,sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top:80px;
      &:before{
        right: 20px;
        }
      &:after{
        left:20px;
      }
            &:before,
            &:after{
              width: 82px;
              height: 1px;
              background-color: rgb(225, 225, 225);
              content: '';
              display: inline-block;
              position: relative;
              bottom: 5px;
            }
}
.fourth-block-4blocks-wrapper{
  width:100%;
  margin:40px 0 80px 0 ;
}
.fourth-block-4blocks-outborder{
  width:23%;
  border: 1px solid rgb(225, 225, 225);
  float:left;
  display: inline-block;
  margin-right:30px;
    &:last-of-type{
      margin-right:0;
    }
}
.fourth-block-4blcoks-block{
  border: 1px solid rgb(225, 225, 225);
  margin:3px;
  text-align: center;
}
.wrapper-block-inside-4blocks{
  padding:50px 15px;
}
.fourth-block-img{
    padding-bottom: 33px;
}
.fourth-block-header{
  color: $main_color_dark;
  font-family: Raleway,sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom:20px;
}
.fourth-block-text{
  color: rgb(122, 122, 122);
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}
/*---------------FOURTH-BLOCK END-------------*/

/*---------------FIFTH-BLOCK -------------*/
.fifth-block{
  background: url("../images/fifth-block-bg.png")no-repeat center;
  padding-bottom: 72px;
}
._fifth-block-add-header-style{
  color: rgb(208, 208, 208);
    &:before,
    &:after{
      background-color: rgb(119, 119, 119);
    }
}
.fifth-block-header-text{
  color: rgb(208, 208, 208);
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  width:80%;
  margin:25px auto 20px;
}
.fifth-block-four-circle-wrapper{
  width:100%;
  text-align: center;
  margin: 0 3%;
}
.fifth-block-four-circle{
  display: inline-block;
  width:124px;
  float: left;
    &:first-of-type {
      background: url("../images/circle-light.png") no-repeat center, url("../images/fifth-block-full-circle.png") no-repeat center;
    }
    &:nth-of-type(2) {
      background: url("../images/circle-rocket.png") no-repeat center, url("../images/fifth-block-circle.png") no-repeat center;
    }
     &:nth-of-type(3){
       background: url("../images/circle-chemistry.png") no-repeat center, url("../images/fifth-block-circle.png") no-repeat center;
     }
     &:nth-of-type(4){
       background: url("../images/circle-reward.png") no-repeat center, url("../images/fifth-block-circle.png") no-repeat center;
      }
}
.fifth-block-between-circle {
  width: 191px;
  height: 1px;
  background-color: #777777;
  display: block;
  float: left;
  margin: 70px 0;
}
.four-circle-text{
  color: rgb(221, 221, 221);
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 130px;
  display: block;
}
/*---------------FIFTH-BLOCK END-------------*/

/*---------------SIXTH-BLOCK-------------*/
.sixth-block{
  padding-bottom: 62px;
}
.sixth-block-header{
  @extend .header-block;
  margin-bottom: 40px;
}
.sixth-block-three-col-wrapper{
  width:100%;
}
.three-col-column{
  float: left;
  width: (1170px / 3) - 30px;
  margin-right: 30px;
    &:last-of-type{
      margin-right:0;
    }
}
.col-wrapper{
  text-align: center;
}
.col-img{
  margin-bottom:22px;
}
.three-col-link{
  opacity:1;
  @include main_transition;
  &:hover{
    opacity:0.8;
  }
}
.col-header{
  color: $main_color_dark;
  font-family: Raleway,sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.col-under-header{
  color: $main_color_active;
  font-family: Raleway,sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 26px;
}
.col-text{
  color: $main_color_light;
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  margin-top: 10px;
}
._col-text-add{
  margin-left: 20px;
}
/*---------------SIXTH-BLOCK END-------------*/

/*---------------SEVENTH-BLOCK -------------*/
.seventh-block{
  padding-bottom: 67px;
  background: url("../images/seventh-block-slider-bg.png") no-repeat top center;
  text-align: center;
}
.seventh-block-slider-header{
  @extend .header-block;
  @extend ._fifth-block-add-header-style;
  margin-bottom: 30px;
}
.seventh-block-slider-text{
  color: rgb(216, 216, 216);
  font-family: Raleway,sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 35px;
  padding: 0 8%;
  margin-bottom: 15px;
}
.seventh-block-slider-author{
  color: $main_color_active;
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}
.seventh-block-slider-squares .bx-controls-direction{
  display: none;
}
/*---------------SEVENTH-BLOCK END-------------*/

/*---------------EIGHTH-BLOCK------------*/
.eighth-block{
  padding-bottom: 72px;
}
.eighth-block-header{
  @extend .header-block;
  margin-bottom:40px;
}
.eighth-block-cols-wrapper{
  width:100%
}
.eighth-block-cols-clmn{
  @extend .three-col-column;
}
.eighth-block-cols-mini-wrapper{
  width:100%;
  margin: 20px 0 8px;
}
.mini-wrapper-date{
  width: 46px;
  height: 46px;
  border: 1px solid rgb(177, 177, 177);
  float: left;
  color: $main_color_light;
  font-family: Raleway,sans-serif;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  padding: 6px 2px;
  margin-right: 15px;
    .mini-wrapper-date_number{
      font-size: 20px;
      padding:0 12px;
      margin-bottom:4px;
      display: inline-block;
    }
    .mini-wrapper-date_month{
      font-size: 12px;
      padding:0 10px;
    }
}
.mini-wrapper-header{
  color: $main_color_dark;
  font-family: Raleway,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.mini-wrapper-heading{
  color: $main_color_active;
  font-family: Raleway,sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.eighth-block-cols-clmn-text{
  color: $main_color_light;
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  width: 103%;
}
/*---------------EIGHTH-BLOCK END-------------*/

/*---------------NINETH-BLOCK-PREFOOTER-------------*/
.nineth-block-prefooter{
  padding-bottom: 14px;
  background-color: rgb(55, 55, 55);
}
.nineth-block-prefooter-wrapper{
  width:100%;
  margin:70px 0  65px;
}
.prefooter-fourth-block{
  /* in  psd lost  one word in first column. it's 'magna.'
  you can see it when pick 'T tool' in Photoshop*/
  width:25%;
  float: left;
}
.prefooter-header{
  color: rgb(240, 240, 240);
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom:28px;
}

.prefooter-text{
  padding-bottom:35px;
  color: rgb(202, 202, 202);
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.prefooter-addres-text{
  @extend .prefooter-text;
  padding-bottom: 0;
  display: block;
  padding-left:25px;
  background-repeat: no-repeat;
  &:first-of-type{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAMAAABM3rQ0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAjVBMVEXKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysr////QL/H6AAAALXRSTlMAAjlVMCHMuhID0e6+9bFD9B01YtMB9kFA/VgLev4gzaz7KbCZJvoZj4HXDRN7CZFkAAAAAWJLR0QuVNMQhwAAAAlwSFlzAAALEgAACxIB0t1+/AAAAGNJREFUCNctzNcWgkAUQ9EzIDr2UVCxUKzY8v+/JxfJQ9Z+SQAXxQMsyVDSyMN4oulsrgUsFVaspYRUGWy22pFrfzieVJS4Spa63eaG88Vurq1u3eH9odB04qnXH/j3pxdfqx8/+Ainlk8mLAAAAABJRU5ErkJggg==');
    background-position:0 15%;
  }
  &:nth-of-type(2){
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAMAAABxsOwqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAk1BMVEXKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysr///9cD9/AAAAAL3RSTlMACAwdoe/2y0E27bd6d6j9ddf8FwXUv8PEDXJHFMyUAxU1+KQKyKMB4qACxfmEu21jI8QAAAABYktHRDCu3C3kAAAACXBIWXMAAAsSAAALEgHS3X78AAAAY0lEQVQI1y2KWRaCMAADI7IoULSisi/KIqiQ+9+OFpifyXsTQHEwsHI0LdJ2TsDZ9XwhRHC5Qt5C3e6PJ8jtpxzFSNIM2kBekGWlSy1l+Ho3arcde3wGjl/8yP/Uk5wRcSdeAHz9CWVtEg9RAAAAAElFTkSuQmCC');
    background-position:0 50%;
  }
  &:last-of-type{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAMAAAD6Ou7DAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAllBMVEXKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysr///8CzAQmAAAAMHRSTlMFjKsLrwlt/IkKscQSUPb7ZxHD1hU36vJI05klSyMvTC2Plxbbp+MciJUQy4EHvcjDrDTmAAAAAWJLR0Qx2dsdcgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAFhJREFUCNc1jMUWg0AUxR5StPggAxR3Kff/v45DC1klmxAJuBElkl+K+nNNNwjm27IBx/V8EBCwMIoTj+OKNMs/RVnVVzRth77HME6geVn/M8422r/P+tBPWzgM5Tc+NcoAAAAASUVORK5CYII=');
    background-position:0 55%;
  }
}
.prefooter-text_get{
  width:89%;
}
.prefooter-text_twitter{
  padding-right: 11%;
}
.prefooter-fourth-block-link,
.prefooter-addres-link{
  color: rgb(202, 202, 202);
  @include main_transition;
  &:hover{
    color:$main_color_active;
    text-decoration: none;
  }
}
.prefooter-text_pop-posts {
  padding-bottom:28px;
  width: 88%;
}
.prefooter-pop-posts{
  @extend .prefooter-addres-link;
}
.prefooter-text_about{
  padding-bottom: 30px;
  width:86%;
}
.eighth-block-cols-clmn-link{
  @extend .three-col-link;
}
/*---------------NINETH-BLOCK END-------------*/

/*---------------TENTH-BLOCK-FOOTER-------------*/
.tenth-block{
  background-color: rgb(51, 51, 51);
}
.footer-header{
  color: rgb(202, 202, 202);
  font-family: Raleway,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 91px;
  text-align: left;
}
/*----------TO TOP----------*/
/*Thanks a lot http://codepen.io/atflihoucine/pen/oxBweR*/
.to-top{
  position: fixed;
  bottom: 15px;
  right: 5px;
  padding:5px;
  cursor:pointer;
  display: none;
}
.to-top:hover i{
  color:$main_color_active;
  top:0;
  opacity: 1;
}
.to-top i{
  font-size: 35px;
  opacity: 0.5;
  color: #6C7A89;
  position: relative;
  top: 3px;
  left: 5px;
  transition:all .3s ease 0s;
  -moz-transition:all .3s ease 0s;
  -webkit-transition:all .3s ease 0s;
  -o-transition:all .3s ease 0s;
}
/*---------------TENTH-BLOCK END-------------*/